# Data Science Tools and Ecosystem

The content of this notebook is about Data Science Tools and Ecosystems.

_Objectives:_
- Learn how to use markdown
- List data scientists' tools
- Share jupyter notebooks

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. SciPy
3. NumPy
4. Pandas
5. Matplotlib,

|Data Science Tools|
|------------------|
|Spark             |
|Pandas            |
|TensorFlow        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
José Armando Baquedano Martínez